

<div class="container">
  <h1 class="text-center res-prov-head"> Business Energy</h1>

  <div class="col-xs-4 tier-buttons text-center">
    <%= link_to "500 kWh", business_500_path %>
  </div>
  <div class="col-xs-4  tier-buttons text-center">
    <%= link_to "1000 kWh", business_1000_path %>
  </div>
  <div class="col-xs-4  tier-buttons text-center">
    <%= link_to "2000 kWh", business_2000_path %>
  </div>
</div>