<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <%= image_tag "amos8.jpg" %>
    </div>
    <div class="col-xs-6">
      <%= link_to "Select a Plan", residential_path %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">

    </div>
    <div class="col-xs-6">
      <%= image_tag "workphoto.jpg" %>
    </div>
  </div>
</div>