<section class="business-sec">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="single-business" p style="color:DodgerBlue"p>
        <h3>Starting a new service?</h3>
        </p></h3>
        <p>Start enjoying the freedom that comes from low energy rates.  Choose Amos Energy.</p> </p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="single-business"p style="color:DodgerBlue"p>
      <h3>Switch to Amos Energy</h3>
      </p> </h3>
      <p> When last did you check your energy rates? Amos energy makes it easy for you to switch. click on sign up page and the rest is easy.</p> </p>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="single-business"p style="color:DodgerBlue"p>
    <h3>Moving to a new location?</h3>
    </p></h3>
    <p> With so much on your to do lists, relax and  Let Amos Energy handle your new service at yoour new location while you focus on moving. Give us a call or sign up online</p>
  </div>
  </div>
  </div>
  </div>
</section>

</div>
</div>
</section>
<section class="boxes_area">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="box">
          <h3></h3>
          <p></p>
          <i class=""></i>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="box">
          <h3></h3>
          <p> </p>
          <i class=""></i>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="box">
          <h3></h3>
          <p> </p>
          <i class=""></i>
        </div>
      </div>
    </div>
  </div>
</section>




</div>
</div>


<%= link_to "Select a Plan", residential_path, :class => "res-button" %>

<section class="extra-section">
  <div class="container">
    <div class="row">
      <!-- Mission Text -->
      <div class="col-sm-12 text-center">
        <h2 class="section-title text-center"> Residential Energy</h2>
        <p>God said, " Let there be light", and there was light. </p>
      </div>
    </div>
  </div>
</section>
<!-- Unique Section Ends Here -->

<!-- Moving Section Goes Here -->
<section class="moving-section services section-top no-mt" id="services">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="section-title text-center">Amos Energy makes moving easy.</h2>
      </div>

      <!-- Moving Text -->
      <div class="col-sm-12">
        <div class="single-services text-center">
          <p></p>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="container">
      <div class="col-md-12">
      </div>
      </form>
    </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
</section>