<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">

      </div>

      <div class="col-md-2 col-sm-3 col-xs-3">

      </div>
      <div class="col-md-2 col-sm-6 col-xs-6">
        <h6>Phone numbers:</h6>

        <p>1(800)335-9956 <br></p>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-3">
        <h6>follow us</h6>
        <a href="">
          <p>twitter</p>
        </a>
        <a href="">
          <p>instragram</p>
        </a>
        <a href="">
          <p>linkedin</p>
        </a>
      </div>
    </div>
  </div>
</footer>