<div class="slider-area blog-slider  small-slider">
  <div class="owl-carousel">
    <div class="item">

      <img src="assets/images/callcentergirl2.jpg" alt="">
      <div class="slider-content">
        <h3></h3>
      </div>
    </div>
  </div>
</div>

<!-- Content Section Goes Here -->
<section class="section-top" >
  <div class="container">

    <div class="row">
      <!-- Blog Text -->
      <div class="col-sm-12">
      </div>

      <section>


        <h2>
          <p style="color:MediumSeaGreen"> Customer Contact Form</p>
        </h2>
        <p>
          <div>
            <form action="/action_page.php">
              <label for="fname">Accout Number</label>
              <input type="text" id="fname" name="" placeholder="Your Account Number ..">
              </select>
              <label for="Enquiry Type">Enquiry Type</label>
              <select id="Enquiry Type" name="Enquiry Type">
                <option value="General Equiry">General Enquiry</option>
                <option value="Bill Enquiry">Bill Enquiry  </option>
                <option value="Payment">Payment</option>
                <option value="My Account">My Account</option>
                <option value="Feed back">Feed back</option>
                <option value="Other">Other</option>
              </select>
            </form>
        <p>
          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">
          <label for="lname">First Name</label>
          <input type="text" id="lname" name="firstname" placeholder="Your First name.">
        </p>
      </section>
    </div>
    <div class="col-sm-12">
      <div class="form-group">
        <label for="message">Message</label>
        <textarea id="message" class="form-control"></textarea>
      </div>
      <p>
        <label for="fname"> Service Address</label>
        <input type="text" id="fname" name="Service Address" placeholder="Your Service Address..">
        <label for="lname">Zip Code </label>
        <input type="text" id="lname" name="Zip code" placeholder="Your Zip Code..">
      <p>
        <label for="fname">Apt No</label>
        <input type="text" id="fname" name="Apt No" placeholder="Your apt No..">
        <label for="lname">City</label>
        <input type="text" id="lname" name="City" placeholder="Your City..">
      <p>
        <label for="fname"> State</label>
        <input type="text" id="fname" name="State" placeholder="Your State..">
        <label for="lname"></label>
        <input type="text" id="lname" name="Mailing Address" placeholder="Your Mailing Address ..">
      <p>
        <label for="fname">Phone No. </label>
        <input type="text" id="fname" name=" Mobile Phone No." placeholder="Your Mobile Phone No...">
        <label for="fname"></label>
        <input type="text" id="fname" name=" Work Phone No." placeholder="Your  Work Phone No...">
      <p>
        <label for="lname"> E-mail</label>
        <input type="text" id="lname" name="E-mail" placeholder="Your Email..">
        </select>
        <input type="submit" value="Submit">
        </form>
      </p>
    </div>
    <div>
      <div>
        Amos Energy Payment Locations:
        Mailing Address:
        Amos Energy, P.O. Box 19731, Houston, Texas  770
        If you mail your bill or you pay through online banking please allow 7-10 business days for your payment process.

        In person:
        Payment can be made in all Western Union and Money Gram locations including Kroger, H.E.B, Randal Stores, and Wal-Mart Stores.

        We do not accept payments in our Corporate Office.


        Online Payments:

        www.amosenergy.net/paybills

    </div>
  </div>
</div>
</section> <!-- Content Section Ends Here -->