
<div class="flexslider">
  <ul class="slides">
    <li class="slider-image">
      <%= image_tag "hisporiginal.jpg" %>
    </li>
    <li>
      <%= image_tag "2.jpg" %>
    </li>
    <li>
      <%= image_tag "indy2.jpg" %>
    </li>
  </ul>
</div>

  <!-- Mission Section Goes Here -->
  <section class="about" id="about">
    <div class="container">
      <div class="row">
        <!-- Mission Text -->
        <div class="col-sm-10 col-sm-offset-1 text-center">
          <h2 class="section-title"></h2><p style="color:DodgerBlue"></p><h1 style="background-color:#ffa500">Residential Energy</h1>
        </div>
      </div>
    </div>
  </section>

  <html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      * {
        box-sizing: border-box;
      }

      body {
        font-family: Arial, Helvetica, sans-serif;
      }

      /* Float four columns side by side */
      .column {
        float: left;
        width: 25%;
        padding: 0 10px;
      }

      /* Remove extra left and right margins, due to padding */
      .row {margin: 0 -5px;}

      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }

      /* Responsive columns */
      @media screen and (max-width: 600px) {
        .column {
          width: 100%;
          display: block;
          margin-bottom: 20px;
        }
      }

      /* Style the counter cards */
      .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 16px;
        text-align: center;
        background-color: #f1f1f1;
      }
    </style>
  </head>
  <body>

  <h2></h2>
  <p>.</p>

  <div class="row">
    <div class="column">
      <div class="card">
        <h3>Card 1</h3>
        <p>Some text</p>
        <p>Some text</p>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <h3>Card 2</h3>
        <p>Some text</p>
        <p>Some text</p>
      </div>
    </div>


  </div>
  </body>
  </html>
</div>


<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    * {
      box-sizing: border-box;
    }

    /* Create two equal columns that floats next to each other */
    .column {
      float: left;
      width: 50%;
      padding: 10px;
      height: 300px; /* Should be removed. Only for demonstration */
    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
  </style>
</head>
<body>

<h2></h2>

<div class="row">
  <div class="column" style="background-color:#aaa;">
    <h2></h2>
    <p></p>
  </div>
  <div class="column" style="background-color:#bbb;">
    <h2></h2>
    <p></p>
  </div>
</div>

</body>
</html>

<p> <h3></h3>
<p></p></p>
<p></p>
</div>
</div>
</div>
</div>
</div>
<!-- Mission Section Ends Here -->

<!-- Business Section Start Here -->
<section class="business-sec">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="single-business" p style="color:DodgerBlue">
        <h3>Starting a new service?</h3>
        <p>Start enjoying the freedom that comes from low energy rates.  Choose Amos Energy.</p> </p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="single-business"p style="color:DodgerBlue">
      <h3>Switching to Amos Energy</h3>
      <p> When last did you check your energy rates? Amos energy makes it easy for you to switch. click on sign up page and the rest is easy.</p> </p>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="single-business"p style="color:DodgerBlue">
    <h3>Moving to a new location?</h3>
    <p> With so much on your to do lists, relax and  Let Amos Energy handle your new service at yoour new location while you focus on moving. Give us a call or sign up online</p>
  </div>
  </div>
  </div>
  </div>
</section>

</div>
</div>
</section>
<section class="boxes_area">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="box">
          <h3></h3>
          <p></p>
          <i class=""></i>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="box">
          <h3></h3>
          <p> </p>
          <i class=""></i>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="box">
          <h3></h3>
          <p> </p>
          <i class=""></i>
        </div>
      </div>
    </div>
  </div>
</section>

</div>
</div>
</section>


<html>
<head>
  <style>
    .button {
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 15px 50%;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
  </style>
</head>
<body>

<h2></h2>




<input type="button" class="button" value="Select a plan">

</body>
</html>


<section></section>
</div>



<!-- Business Section  Ends Here -->

<!-- Unique Section Goes Here -->
<section class="extra-section">
  <div class="container">
    <div class="row">
      <!-- Mission Text -->
      <div class="col-sm-12 text-center">
        <h2 class="section-title text-center"> Residential Energy</h2>
        <p>God said, " Let there be light", and there was light. </p>
      </div>
    </div>
  </div>
</section>
<!-- Unique Section Ends Here -->

<!-- Moving Section Goes Here -->
<section class="moving-section services section-top no-mt" id="services">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="section-title text-center">Amos Energy makes moving easy.</h2>
      </div>

      <!-- Moving Text -->
      <div class="col-sm-12">
        <div class="single-services text-center">
          <p></p>
        </div>

      </div>
    </div>

  </div>
  <div class="">
    <div class="container">
      <div class="col-md-12">
      </div>
      </form>
    </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
</section>
<!-- Moving Section Ends Here -->
